<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-2">
    <a class="navbar-brand" href="#"><h1>Blog App</h1></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">

        {% if g.user %} <!-- MEMBER  -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"><a class="nav-link" href="#">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
                <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a></li>
                <li class="nav-item"><a class="nav-link disabled" href="#">Disabled</a></li>
                <!-- <li class="nav-item active"><a class="nav-link" href="#">{{ g.user['username'] }}</a></li>
                <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li> -->
            </ul>
            <div class="d-flex">
                <!-- <li class="nav-item active"><a class="nav-link" href="#">{{ g.user['username'] }}</a></li> -->
                <li><a href="#">{{ g.user['username'] }}</a></li>
                <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
            </div>

        {% else %} <!-- VISITOR -->
            <ul class="navbar-nav mr-auto justify-content-center align-self-center">
                <li class="nav-item active"><a class="nav-link" href="#">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
                <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a></li>
                <li class="nav-item"><a class="nav-link disabled" href="#">Disabled</a></li>
            </ul>
            <div class="d-flex">
                <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
            </div>

        {% endif %}

    </div>
</nav>

<hr>
